!!!5
html
    head
        != js('lib/angular.min')
        != js('app.js')
        != css('style')
        script(src="//use.typekit.net/agt4rwu.js")
        script try{Typekit.load();}catch(e){}
        block head
    body(ng-app="hangoutApp")
        block body